
:root {
    scroll-behavior: smooth;
  }
html{
    height: 100%;
}
body{
    margin: 0px;
    
}
p{
    margin-top: 0px;
    padding-top: 10px;
}
body#home{
    position: relative;
    background: linear-gradient(45deg,blue,teal,purple,green);
    /*background-image: linear-gradient(blue,white);*/
    background-size: 400% 400%;
	animation: gradient 25s ease infinite;
    height:120vh;
	
}
body#signIn{
    position: relative;
    background: linear-gradient(45deg,blue,teal,purple,green);
    /*background-image: linear-gradient(blue,white);*/
    background-size: 400% 400%;
	animation: gradient 25s ease infinite;
    height:100vh;
}
body#contact {
    background-color: wheat;
    animation:backcol 10s ease infinite;
}
body#contact #Header{
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0;
    padding: 0;
    color:white;
    width: 100%;
    padding: 10px;
}
body#prices{
    background-image: linear-gradient(lightgray,wheat);
    height: 100vh;
}
body#admin{
    background-image: radial-gradient(blue,red,yellow);
    height:100vh;
}
#Header{
   display: flex;
   justify-content: center;
   margin: 0;
   padding: 0;
   color:white;
   background-color: black;
   width: 100%;
}
#HeaderHome{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    color:white;
    width: 100%;
 }
#mult_images{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 600px;
    border:black 6px solid;
    border-radius: 10px;
    
}
.randText{
    color:white;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom:40px;
}
#DropDownButton{
    cursor: pointer;
}
#div_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}
#sign_in_button{
    margin-top: 10px;
}
.div_Buttons{
 display: flex;
 flex-direction: row;
 width: 100%;
}
.Buttons{
    width:100%;
    height: 40px;
    background-color: black;
    color:white;
    border: none;

}
.Buttons:hover{
    background-color: white;
    color:black;
    animation: down 1s;
}
.footer{
    display: flex;
    border-top: black 2px solid;
    text-align: right;
    gap: 10px;
    width: 100%;
}

.text_footer{
    display: flex;
    justify-content: right;
    width: 100%;
    gap: 10px;
    padding-right: 5px;
}

.space{
    padding: 50px;
}
.names{
    display: flex;
    justify-content: left;
    gap: 10px;
}
.buttonName{
    height:25px
}
p{
    text-align: center;
}
p.adm{
    text-align: left;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
h2{
    text-align: center;
}
footer{
    position: absolute;
    bottom:0%;
    width: 100%;
    height: 20px;
}

.heads{
    display:flex;
    background-image: linear-gradient(to right,white 5%,black 95%);
    width: 100%;
}
/*index*/
.index_text_bundle{
    width: 20%;
    height: auto;
    background-color: rgba(5, 5, 5, 0.212);
    animation: fadeIn 2s;
}
.index_divs{
    display: flex;
    justify-content: center;
    gap:10px;
    margin-top: 10px;

   
}
/*Chat*/
.chatbody{
    height: 100%
}
.chatdiv{
    display: flex;
    height: 100%;

}
.friendtext{
    font-size: 20px;
    
    margin-top: 5px;
    
}
.friend-tab{
 background-color: purple;

 border: black solid 5px;
 border-radius: 9px;
 width: 30%;
}
.chat{
    background-color: blueviolet;

    width: 70%;
    margin: 0%;
    border: black solid 5px;
    border-radius: 9px;
}
.inputs{
    height: 30px;
    margin: 0%;
    bottom: 0%;
    display: flex;
    border-bottom: 4px solid black;
}
.texts{
    height: 668px;
    margin-top: 0%;
    
    overflow: auto;

}
.inputtext{
width: 90%;
border: 2px solid black;
background-color: blue;
color: white;

}
.sendbutton{
width: 10%;
background-color: cadetblue;
color: lightgreen;
}
.chattextbox{
    display: flex;
    justify-content:left;
    flex-direction: row;
   
}
.yourchatbox
{
    display: flex;
    justify-content:right;
    flex-direction: row;
    
}
.chattextbox:hover{
    background-color: rgba(0, 0, 0, 0.192);
}
.yourchatbox:hover{
    background-color: rgba(0, 0, 0, 0.158) ;
}
.chattext{
    margin-right: 10px;
}
.usernamepopup{
    display: flex;
 position: absolute;
 justify-content: center;
 flex-direction: column;
 align-items: center;
background-color: rgba(0, 0, 0, 0.5);
width: 99%;
height: 100%;
}
.backgroundenter{
    display: flex;
    position: absolute;
    justify-content: center;
    gap:10px;
    align-items: center;
    background-color: blue;
    width: 400px;
    height: 100px;
}

.submitusername{
    width: 50px;
    height: 20px;
}
.textlayout{
    display: flex;
    background-color: cyan;
    border: solid black 2px;
    border-radius: 23px; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.chatheader{

display: flex;
justify-content: space-around;
border-bottom: solid black 1px;
background-color:rgb(102, 47, 153) ;
}
.surroundui{
    margin: 1px;
    background-color: black;
    height: 100%;
    border: solid black 2px;
    
}
.navbar{
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: black;
    color: white;
    border: gray solid 3px;
    border-radius: 6px;
}
.username_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.navelements{
    width: 33%;
}
.navbuttons{
    text-align: center;
    justify-content: center;
}
.btnusernamechange{
    height: 20px;
}
.emodiv{
    position: relative;
}
.emojis{
    position: absolute;
    bottom:  30px;
    right: 30px;
}
.relative{
    position: relative;
}
.reply{
position: absolute;
background-color: rgba(0, 0, 0, 0.23);
padding-left: 4px;
padding-right: 10px;
bottom:11px;
width: 400px;
text-align: left;
color: white;
}
.replyoption{

}
.options:hover{
    background-color: rgba(0, 0, 0, 0.26);
}
.rightclickmenu{
    position: absolute;
    background-color: rgba(65, 158, 36, 0.774);
}
.profil{
    position: absolute;
    background-color: hotpink;
    width: 300px;
    height: 500px;
    border: plum solid 5px;
    border-radius: 10px;
}
.username_profil{

}
.bio{
    border: black solid 3px;
    border-radius: 10px;
}
/*todo*/
t
/*WIP*/
.WIP_body{
    background-color: beige;
    animation:backcol 10s ease infinite;
}
.WIP_div{
    margin-left: 37%;
    margin-right:37%;
    background-color: bisque;
    text-align: center;
    font-size: 30px;
}
/*Contacts*/
.Contacts_body{
background-color: rgb(23, 92, 92);
}
.Contacts_div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 30px;
margin-top: 10%;

}

.Contacts_pics
{
    width: 200px;
    height: 100px;
}
/*Utility classes*/
.hidden{
    visibility: hidden;
}
.test{
    background-color: aqua;
}
.backgroundbltr{
    background-color: rgba(0, 0, 0, 0.39);
    margin-top: 0px;
}

@keyframes down{
    0%{transform:translateY(0);}
    50%{transform: translateY(10px);}
    100%{transform:translateY(0px);}
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}
@keyframes backcol{
    0% {background-color:lightgray;}
    50% {background-color: wheat;}
    100% {background-color:lightgray;}
}